html, body {
  height: 100%;
}

body {
  font-family: Helvetica;
  margin: 0;
  padding: 0;
  background: linear-gradient(180deg, #26b1d4 10%, #0f5abd 100%);
  color: #f0f8ff;
}

button {
  background-color: #0f5abd;
  color: #fff;
  padding: 0 45px;
  border: 2px solid #f0f8ff;
  border-radius: 15px;
  height: 50px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  transition: .4s;
}

button:hover {
  background-color: #26b1d4;
}